Repository dongminlee94/meta-learning-for-everyone, pull requests merged in 2021-08, with the labels that each got.

#24 Experiment/rl2
  .pylintrc
  Makefile
  requirements.txt
  rl2/algorithm/buffer.py
  rl2/algorithm/meta_learner.py
  rl2/algorithm/networks.py
  rl2/algorithm/ppo.py
  rl2/algorithm/sampler.py
  rl2/configs/cheetah_dir.py
  rl2/configs/cheetah_vel.py
  rl2/configs/dir_target_config.yaml
  rl2/configs/experiment_config.yaml
  rl2/configs/vel_target_config.yaml
  rl2/envs/half_cheetah_dir.py
  rl2/envs/half_cheetah_vel.py
  rl2/rl2_trainer.py
  rl2/trainer.py
  setup.cfg
Labels: enhancement

#26 Add MAML meta-train prototype code
  .pylintrc
  Makefile
  maml/algorithm/buffer.py
  maml/algorithm/maml.py
  maml/algorithm/meta_learner.py
  maml/algorithm/networks.py
  maml/algorithm/ppo.py
  maml/algorithm/sampler.py
  maml/algorithm/utils/sampler.py
  maml/configs/cheetah_dir.py
  maml/configs/cheetah_vel.py
  maml/configs/dir_target_config.yaml
  maml/configs/experiment_config.yaml
  maml/configs/vel_target_config.yaml
  maml/envs/half_cheetah_dir.py
  maml/envs/half_cheetah_vel.py
  maml/maml_trainer.py
  maml/trainer.py
  requirements.txt
  setup.cfg
Labels: enhancement, ready-to-merge

#29 Feature/fix conflict
  .gitignore
  .pylintrc
  Makefile
  requirements.txt
  setup.cfg
  src/pearl/algorithm/buffers.py
  src/pearl/algorithm/networks.py
  src/pearl/algorithm/pearl.py
  src/pearl/algorithm/sac.py
  src/pearl/algorithm/sampler.py
  src/pearl/algorithm/torch_utils.py
  src/pearl/configs/cheetah_dir.py
  src/pearl/configs/cheetah_vel.py
  src/pearl/envs/__init__.py
  src/pearl/envs/half_cheetah_dir.py
  src/pearl/envs/half_cheetah_vel.py
  src/pearl/pearl_trainer.py
  src/rl2/algorithm/buffer.py
  src/rl2/algorithm/meta_learner.py
  src/rl2/algorithm/networks.py
  src/rl2/algorithm/ppo.py
  src/rl2/algorithm/sampler.py
  src/rl2/configs/dir_target_config.yaml
  src/rl2/configs/experiment_config.yaml
  src/rl2/configs/vel_target_config.yaml
  src/rl2/envs/__init__.py
  src/rl2/envs/half_cheetah_dir.py
  src/rl2/envs/half_cheetah_vel.py
  src/rl2/rl2_trainer.py
Labels: enhancement

#35 Feature/add readme
  .all-contributorsrc
  README.md
  assets/meta-rl.png
Labels: documentation

#39 Experiment/new pearl
  README.md
  assets/meta-rl.png
  src/pearl/algorithm/meta_learner.py
  src/pearl/configs/vel_target_config.yaml
  src/rl2/algorithm/meta_learner.py
Labels: enhancement

#42 Pull/develop maml
  .all-contributorsrc
  .gitignore
  .pylintrc
  LICENSE.md
  Makefile
  README.md
  assets/meta-rl.png
  requirements.txt
  src/envs/__init__.py
  src/envs/half_cheetah_dir.py
  src/envs/half_cheetah_vel.py
  src/maml/algorithm/buffer.py
  src/maml/algorithm/meta_learner.py
  src/maml/algorithm/networks.py
  src/maml/algorithm/ppo.py
  src/maml/algorithm/sampler.py
  src/maml/configs/dir_target_config.yaml
  src/maml/configs/experiment_config.yaml
  src/maml/configs/vel_target_config.yaml
  src/maml/maml_trainer.py
  src/pearl/algorithm/buffers.py
  src/pearl/algorithm/meta_learner.py
  src/pearl/algorithm/networks.py
  src/pearl/algorithm/sac.py
  src/pearl/algorithm/sampler.py
  src/pearl/algorithm/torch_utils.py
  src/pearl/configs/dir_target_config.yaml
  src/pearl/configs/experiment_config.yaml
  src/pearl/configs/vel_target_config.yaml
  src/pearl/pearl_trainer.py
  src/rl2/algorithm/buffer.py
  src/rl2/algorithm/meta_learner.py
  src/rl2/algorithm/networks.py
  src/rl2/algorithm/ppo.py
  src/rl2/algorithm/sampler.py
  src/rl2/configs/dir_target_config.yaml
  src/rl2/configs/experiment_config.yaml
  src/rl2/configs/vel_target_config.yaml
  src/rl2/rl2_trainer.py
Labels: enhancement
