Repository dongminlee94/meta-learning-for-everyone, pull requests merged in 2022-07, with the labels that each got.

#85 hotfix/type
  src/meta_rl/maml/maml_trainer.py
Labels: need-to-change-branch-name

#86 Update mann result
  src/meta_sl/model-based/mann.ipynb
Labels: size/L, enh

#90 Update LICENSE.md
  LICENSE
Labels: need-to-change-branch-name, size/L

#91 Enhance/eng readme
  .all-contributorsrc
  .pylintrc
  LICENSE
  Makefile
  README.md
  src/meta_rl/envs/__init__.py
  src/meta_rl/envs/half_cheetah.py
  src/meta_rl/envs/half_cheetah_dir.py
  src/meta_rl/envs/half_cheetah_vel.py
  src/meta_rl/maml/algorithm/buffer.py
  src/meta_rl/maml/algorithm/meta_learner.py
  src/meta_rl/maml/algorithm/networks.py
  src/meta_rl/maml/algorithm/optimizer.py
  src/meta_rl/maml/algorithm/sampler.py
  src/meta_rl/maml/algorithm/trpo.py
  src/meta_rl/maml/configs/dir_target_config.yaml
  src/meta_rl/maml/configs/experiment_config.yaml
  src/meta_rl/maml/configs/vel_target_config.yaml
  src/meta_rl/maml/maml_trainer.py
  src/meta_rl/pearl/algorithm/buffers.py
  src/meta_rl/pearl/algorithm/meta_learner.py
  src/meta_rl/pearl/algorithm/networks.py
  src/meta_rl/pearl/algorithm/sac.py
  src/meta_rl/pearl/algorithm/sampler.py
  src/meta_rl/pearl/pearl_trainer.py
  src/meta_rl/rl2/algorithm/buffer.py
  src/meta_rl/rl2/algorithm/meta_learner.py
  src/meta_rl/rl2/algorithm/networks.py
  src/meta_rl/rl2/algorithm/ppo.py
  src/meta_rl/rl2/algorithm/sampler.py
  src/meta_rl/rl2/configs/vel_target_config.yaml
  src/meta_rl/rl2/rl2_trainer.py
  src/meta_sl/metric-based/matching_network.ipynb
  src/meta_sl/metric-based/prototypical_network.ipynb
  src/meta_sl/model-based/mann.ipynb
  src/meta_sl/model-based/snail.ipynb
  src/meta_sl/opt-based/maml_classification.ipynb
  src/meta_sl/opt-based/maml_regression.ipynb
Labels: size/XXXL, enh

#92 hotfix/typo
  README.md
  src/meta_rl/maml/configs/dir_target_config.yaml
  src/meta_rl/maml/configs/vel_target_config.yaml
  src/meta_rl/pearl/algorithm/sac.py
  src/meta_rl/rl2/configs/experiment_config.yaml
Labels: size/S, need-to-change-branch-name

#93 enhance/remove-setup-cfg
  setup.cfg
Labels: enh, size/XS

#95 Remove setup.cfg
  setup.cfg
Labels: feature, size/XS

#96 Update setup.py
  setup.py
Labels: size/S, enh

#97 Enhance/update readme1
  .github/pull_request_template.md
  README.md
  setup.py
Labels: size/S, enh

#98 hotfix/setup_for_window
  README.md
  requirements.txt
  scripts/window-init.bat
  src/meta_rl/envs/__init__.py
  src/meta_rl/maml/algorithm/networks.py
  src/meta_rl/maml/maml_trainer.py
  src/meta_rl/pearl/pearl_trainer.py
  src/meta_rl/rl2/rl2_trainer.py
Labels: size/S, need-to-change-branch-name

#100 remove max_std
  src/meta_rl/maml/algorithm/networks.py
Labels: need-to-change-branch-name, size/XS
