Repository dongminlee94/meta-learning-for-everyone, pull requests merged in 2022-06, with the labels that each got.

#72 add codes for meta supervised learning
  src/sl/2.1.4.load_omniglot.ipynb
  src/sl/2.1.4.load_sinusoid.ipynb
  src/sl/2.2.3.MANN.ipynb
  src/sl/2.2.5.SNAIL.ipynb
  src/sl/2.3.3.MAML_regression.ipynb
  src/sl/2.3.4.MAML_classification.ipynb
  src/sl/2.4.3.Matching_network.ipynb
  src/sl/2.4.5.Prototypical_network.ipynb
  src/sl/dataloader.py
Labels: enhancement

#75 Feature/update-readme
  .pylintrc
  README.md
  src/meta_rl/maml/algorithm/buffer.py
  src/meta_rl/maml/algorithm/meta_learner.py
  src/meta_rl/maml/algorithm/networks.py
  src/meta_rl/maml/algorithm/optimizer.py
  src/meta_rl/maml/algorithm/sampler.py
  src/meta_rl/maml/algorithm/trpo.py
  src/meta_rl/pearl/algorithm/buffers.py
  src/meta_rl/pearl/algorithm/meta_learner.py
  src/meta_rl/pearl/algorithm/networks.py
  src/meta_rl/pearl/algorithm/sac.py
  src/meta_rl/rl2/algorithm/buffer.py
  src/meta_rl/rl2/algorithm/meta_learner.py
  src/meta_rl/rl2/algorithm/networks.py
  src/meta_rl/rl2/algorithm/sampler.py
  src/meta_sl/dataloader.py
  src/meta_sl/load_dataset/load_omniglot.ipynb
  src/meta_sl/load_dataset/load_sinusoid.ipynb
  src/meta_sl/metric-based/matching_network.ipynb
  src/meta_sl/metric-based/prototypical_network.ipynb
  src/meta_sl/model-based/mann.ipynb
  src/meta_sl/model-based/snail.ipynb
  src/meta_sl/opt-based/maml_classification.ipynb
  src/meta_sl/opt-based/maml_regression.ipynb
Labels: feature, size/L

#76 fix meta_rl evironmental setup
  Makefile
  requirements-common.txt
  requirements-cpu.txt
  requirements-gpu.txt
  requirements.txt
  scripts/download-torch.py
  src/meta_rl/envs/__init__.py
  src/meta_rl/envs/half_cheetah.py
  src/meta_rl/envs/half_cheetah_dir.py
  src/meta_rl/envs/half_cheetah_vel.py
  src/meta_rl/rl2/rl2_trainer.py
Labels: bug, size/M, need-to-change-branch-name

#77 Enhance/update meta-sl
  .gitignore
  Makefile
  README.md
  pyproject.toml
  requirements.txt
  scripts/download-torch.py
  setup.py
  src/meta_rl/envs/half_cheetah.py
  src/meta_sl/load_dataset/load_omniglot.ipynb
  src/meta_sl/load_dataset/load_sinusoid.ipynb
  src/meta_sl/metric-based/matching_network.ipynb
  src/meta_sl/metric-based/prototypical_network.ipynb
  src/meta_sl/model-based/mann.ipynb
  src/meta_sl/model-based/snail.ipynb
  src/meta_sl/opt-based/maml_classification.ipynb
  src/meta_sl/opt-based/maml_regression.ipynb
Labels: size/XXXL, enh

#78 hotfix/retain_hidden_state
  .pylintrc
  src/meta_rl/maml/algorithm/meta_learner.py
  src/meta_rl/maml/configs/dir_target_config.yaml
  src/meta_rl/maml/configs/vel_target_config.yaml
  src/meta_rl/pearl/configs/dir_target_config.yaml
  src/meta_rl/pearl/configs/vel_target_config.yaml
  src/meta_rl/rl2/algorithm/meta_learner.py
  src/meta_rl/rl2/algorithm/sampler.py
  src/meta_rl/rl2/configs/dir_target_config.yaml
  src/meta_rl/rl2/configs/experiment_config.yaml
  src/meta_rl/rl2/configs/vel_target_config.yaml
Labels: bug, enhancement, size/M, need-to-change-branch-name

#81 hotfix/update-readme
  README.md
Labels: need-to-change-branch-name, size/XS

#84 enhance/update-readme
  README.md
Labels: size/S, enh
